@model TurkiyeFinans.Models.ViewModel
@{
    Layout = "_TestLayout";
}

<!-- Butonlar Yan Yana -->
<div class="form-container">
    <div class="btn-group">
        <!-- Hesap Aç Butonu -->
        <form method="post" asp-action="HesapOlustur">
            <input type="hidden" name="identificationNumber" value="@Model._Customer.IdentificationNumber" />
            <button type="submit" class="btn btn-primary">Hesap Aç</button>
        </form>

        <!-- Havale Yap Butonu -->
        <form method="post" asp-action="Transfer">
            <button type="submit" class="btn btn-primary">Havale</button>
        </form>

        <!-- Hesap Listele Butonu -->
        <form method="post" asp-action="HesapListele">
            <button type="submit" class="btn btn-primary">Listele</button>
        </form>

        <!-- Para Yatır Butonu -->
        <form method="post" asp-action="ParaYatir">
            <button type="submit" class="btn btn-primary">Para Yatır</button>
        </form>

        <!-- Para Çek Butonu -->
        <form method="post" asp-action="ParaCek">
            <button type="submit" class="btn btn-primary">Para Çek</button>
        </form>
    </div>
</div>

<!-- İşlemleri Listele Formu -->
<form method="post" asp-action="IslemleriListele">
    <div class="dropdown-and-button mt-3">
        <select class="form-control" id="TranactionListAccountID" name="TranactionListAccountID" required>
            <option value="" disabled selected hidden>Seçiniz ...</option>
            @if (Model._Accounts != null && Model._Accounts.Any())
            {
                @foreach (var account in Model._Accounts)
                {
                    <option value="@account.AccountId">[@account.AccountId] Hesap Türü :@account.AccountType  Bakiye:@account.Balance</option>
                }
            }
        </select>
        <button type="submit" class="btn btn-primary mt-2">İşlemleri Listele</button>
    </div>
</form>

<!-- Hesap Kapat Formu -->
<form method="post" asp-action="HesapKapat">
    <div class="dropdown-and-button mt-3">
        <select class="form-control" id="CloseAccountID" name="CloseAccountID" required>
            <option value="" disabled selected hidden>Seçiniz ...</option>
            @if (Model._Accounts != null && Model._Accounts.Any())
            {
                @foreach (var account in Model._Accounts)
                {
                    <option value="@account.AccountId">[@account.AccountId] Hesap Türü :@account.AccountType  Bakiye:@account.Balance</option>
                }
            }
        </select>
        <button type="submit" class="btn btn-danger mt-2">Hesap Kapat</button>
    </div>
</form>

<!-- Account Listele -->
<div class="header-container mt-3">
    @if (Model._Accounts != null && Model._Accounts.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>AccountID</th>
                    <th>CustomerID</th>
                    <th>AccountType</th>
                    <th>Balance</th>
                    <th>Currency</th>
                    <th>OpenDate</th>
                    <th>Status</th>
                    <th>IBAN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model._Accounts)
                {
                    <tr>
                        <td>@account.AccountId</td>
                        <td>@account.CustomerId</td>
                        <td>@account.AccountType</td>
                        <td>@account.Balance</td>
                        <td>@account.Currency</td>
                        <td>@account.OpenDate</td>
                        <td>@account.Status</td>
                        <td>@Model.FormatIban(account.Iban)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<!-- Transactions Listele -->
<div class="header-container mt-3">
    @if (Model._Transactions != null && Model._Transactions.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>TransactionID</th>
                    <th>AccountID</th>
                    <th>TransactionType</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>TransactionDate</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model._Transactions)
                {
                    <tr>
                        <td>@transaction.TransactionId</td>
                        <td>@transaction.AccountId</td>
                        <td>@transaction.TransactionType</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Currency</td>
                        <td>@transaction.TransactionDate</td>
                        <td>@transaction.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
