@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TurkiyeFinans.Models.ViewModel
@{
    Layout = "_TestLayout";    
}
<h3>Hosgeldiniz @Model._Customer.FirstName</h3>

<div class="form-container">
    <!-- Hesap Aç Butonu -->
    <form method="post" asp-action="HesapOlustur">
        <input type="hidden" name="identificationNumber" value="@Model._Customer.IdentificationNumber" />
        <button type="submit" class="btn btn-primary full-width">Hesap Aç</button>
    </form>

    <!-- Hesap Etiketi -->
    <div class="form-content">
        <label for="AccountType">Hesap</label>
    </div>

    <!-- Dropdownlist ve Kapat Butonu -->
    <form method="post" asp-action="HesapKapat">
        <div class="dropdown-and-button">          
            <select class="form-control" id="CloseAccountID" name="CloseAccountID" required onchange="showDynamicFields()">
                <option value="" disabled selected hidden>Seçiniz ...</option>
                @if (Model._Accounts != null && Model._Accounts.Any())
                {
                    @foreach (var account in Model._Accounts)
                    {
                        <option value="@account.AccountId">[@account.AccountId] Hesap Türü :@account.AccountType  Bakiye:@account.Balance</option>
                    }
                }                
            </select>
            <button type="submit" class="btn btn-danger">Hesap Kapat</button>        
        </div>
    </form>
</div>


<div class="header-container">
    <form method="post" asp-action="Test">
        <button type="submit" class="btn btn-primary">TEST</button>
    </form>
</div>
<div class="header-container">    
    @if (Model._Accounts != null && Model._Accounts.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>AccountID</th>
                    <th>CustomerID</th>
                    <th>AccountType</th>
                    <th>Balance</th>
                    <th>Currency</th>
                    <th>OpenDate</th>
                    <th>Status</th>
                    <th>IBAN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model._Accounts)
                {
                    <tr>
                        <td>@account.AccountId</td>
                        <td>@account.CustomerId</td>
                        <td>@account.AccountType</td>
                        <td>@account.Balance</td>
                        <td>@account.Currency</td>
                        <td>@account.OpenDate</td>
                        <td>@account.Status</td>
                        <td>@account.Iban</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <!-- /Account Listele -->
</div>