@model TurkiyeFinans.Models.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
<!-- Kayıt Formu -->
<form method="post" asp-controller="Home" asp-action="KayitOl">
    <div class="form-group">
        <label><strong>Kayıt Ol</strong></label>
    </div>
    <div class="form-group">
        <label for="TCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="TCKimlikNo" name="TCKimlikNo" required />
    </div>
    <div class="form-group">
        <label for="Ad">Adı</label>
        <input type="text" class="form-control" id="Ad" name="Ad" required />
    </div>
    <div class="form-group">
        <label for="Soyad">Soyadı</label>
        <input type="text" class="form-control" id="Soyad" name="Soyad" required />
    </div>
    <div class="form-group">
        <label for="DogumTarihi">Doğum Tarihi</label>
        <input type="date" class="form-control" id="DogumTarihi" name="DogumTarihi" required />
    </div>
    <div class="form-group">
        <label for="Adres">Adres</label>
        <input type="text" class="form-control" id="Adres" name="Adres" required />
    </div>
    <div class="form-group">
        <label for="Telefon">Telefon</label>
        <input type="tel" class="form-control" id="Telefon" name="Telefon" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="Pass">Parola</label>
        <input type="password" class="form-control" id="Pass" name="Pass" required />
    </div>
    <button type="submit" class="btn btn-primary">Kayit ol</button>
</form>
<!-- /Kayıt Formu -->

<!-- Login Formu -->
<form method="post" asp-controller="Home" asp-action="GirisYap">
    <div class="form-group">
        <label><strong>Giris Yap</strong></label>
    </div>
    <div class="form-group">
        <label for="GirTCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="GirTCKimlikNo" name="GirTCKimlikNo" required />
    </div>
    <div class="form-group">
        <label for="GirPass">Parola</label>
        <input type="password" class="form-control" id="GirPass" name="GirPass" required />
    </div>
    <button type="submit" class="btn btn-primary">Giris Yap</button>
</form>
<!-- /Login Formu -->

<!-- Customer Sil -->
<form method="post" asp-controller="Home" asp-action="Sil">
    <div class="form-group">
        <label><strong>Müşteri Sil</strong></label>
    </div>
    <div class="form-group">
        <label for="SilTCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="SilTCKimlikNo" name="SilTCKimlikNo" required />
    </div>
    <button type="submit" class="btn btn-primary">Sil</button>
</form>
<!-- /Customer Sil -->

<!-- Customer Listele -->
<div class="header-container">
    <label><strong>Müşteri Listesi</strong></label>
    <form method="post" asp-action="CustomerListele">
        <button type="submit" class="btn btn-primary">Listele</button>
    </form>
</div>

@if (TempData["UserTC"] != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>CustomerId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>IdentificationNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model._Customer)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.DateOfBirth</td>
                    <td>@customer.Address</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.Email</td>
                    <td>@customer.IdentificationNumber</td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- /Customer Listele -->
